*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    background-color: #292929;
}

.nav-wrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.nav-wrapper a {
    text-decoration: none;
    color: #dcdddd;
}

.nav-wrapper h1 {
    font-family: "Bungee Spice", sans-serif;
    margin: 2rem;
    box-sizing: border-box;
}

.nav-wrapper ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 2rem;
}

.nav-wrapper li {
    padding: 15px;
}

.nav-wrapper li:hover {
    filter: drop-shadow(0 0 1px #2c2c2c);
    transition: 0.55s ease;
}
.modal-content h4 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.modal {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 4rem 0;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(102,102,102, 0.8);
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(249,220,176);
    padding: 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0.25px 0.25px 5px #f9ddb1;
    z-index: 2;
}

.input-field input {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    border: 0;
    color: #a2b4e6;

    margin: 0.5rem 0;
    padding: 1rem;
    box-sizing: border-box;
}

.input-field input:hover {
    box-shadow: 0 0 0 3px #f9ddb1;
        transition: 0.35s ease;
} 

.modal-content p {
    color: #e8e8e8;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}

.cta-btn {

    margin-top: 1.25rem;
}
.cta-btn button {
        background-image: linear-gradient(90deg, rgba(210,67,33,1) 6%, rgba(245,155,35,1) 71%);
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        color: #f4f4f4;            
        border: none;
        border-radius: 5px;
        padding: 10px 25px;
        margin-bottom: 0.5rem;
      }

.cta-btn button:hover {
        box-shadow: 0 0 0 3px #f9ddb1;
        transition: 0.35s ease;
        text-decoration: none;

      }

.cta-btn2 {
    display: block;
    width: 100%;
    margin-top: 1.25rem;
    
}

.cta-btn2 button {
    background-color: transparent;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: small;
    text-transform: uppercase;
    color: #dcdddd;            
    border: none;
    padding-top: 5px;
    margin-bottom: 0.5rem;
  }
.cta-btn2 button:hover {

    transition: 0.35s ease;
    text-decoration: none;
    filter: drop-shadow(0 0 1px #d24e01);
  }

.info-container {
    color: #dcdddd;
    display: block;

    justify-content: center;
    align-items: center;
    margin-top: 5em;
    z-index: 1;
}

.info-container li {
    list-style-type: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collapsible-header {
    display: block;
    padding: 1em;
    background-color: #d24e01;
    cursor: pointer;
}

.collapsible-header:hover {
    background-color: #eb7711;
}

.collapsible-body {
    display: none;
    padding: 2em;
    cursor: pointer;
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    background-color: #696969;
}

.collapsible-body:hover {
    background-color: #393939;
}
.collapsible-body.active {
    display: block;
    max-height: 200px;

}